{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
        

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Forecast information for {{data['nino']}}</h1>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <button type="button" id="accordion-default-heading-1" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button" aria-expanded="false">Overview<span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2></div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <div class="govuk-!-margin-bottom-8">
                  <ul class="govuk-list govuk-!-margin-bottom-0">
                    <li class="tr-li">
                      <span>State Pension date</span>
                      <span class="govuk-!-text-align-right"><strong class="tag tag--grey">1 November 2026</strong></span>
                    </li>
                    <li class="tr-li">
                      <span>Final Relevant Year (FRY)</span><span class="govuk-!-text-align-right"><strong class="tag tag--grey">2025-26 (1 year to FRY)</strong></span>
                    </li>
                    <li class="tr-li">
                      <span>Estimate up to 5 April 2025</span><span class="govuk-!-text-align-right"><strong class="tag">£241.30 every week</strong></span>
                    </li>
                    <li class="tr-li">
                      <span>Qualifying years</span>
                      <span class="govuk-!-text-align-right"><strong class="tag tag--grey">35</strong></span>
                    </li>
                    <li class="tr-li"><span>Most they can get</span>
                      <span class="govuk-!-text-align-right"><strong class="tag">£241.30 every week</strong></span>
                    </li>
                    <li class="tr-li">
                      <span>Forecast</span>
                      <span class="govuk-!-text-align-right"><strong class="tag tag--grey">£241.30 (1 year needed) every week</strong></span>
                    </li>
                    <li class="tr-li border-bottom">
                      <span>COPE estimate</span>
                      <span class="govuk-!-text-align-right"><strong class="tag govuk-!-text-align-right tag--grey">£2.55 every week</strong></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                <button type="button" id="accordion-default-heading-3" aria-controls="accordion-default-content-2" class="govuk-accordion__section-button" aria-expanded="false">Improve State Pension<span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>
              </div>
              <div id="accordion-default-content-3" class="govuk-accordion__section-content " aria-labelledby="accordion-default-heading-3">
                <p class="govuk-body govuk-!-margin-bottom-6">Their State Pension forecast is £241.30. This is the most they can get.</p>
              </div>
            </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">   
                <button type="button" id="accordion-default-heading-3" aria-controls="accordion-default-content-3" class="govuk-accordion__section-button" aria-expanded="false">National Insurance summary<span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>
              </div>
              <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                <strong class="tag tag--grey">3 years can be filled</strong>
              <div class="govuk-inset-text govuk-!-margin-bottom-6">
                <p class="govuk-body govuk-!-margin-bottom-2">35 years of full contributions</p>
                <p class="govuk-body govuk-!-margin-bottom-2">1 year to contribute before 5 April 2026</p>
                <p class="govuk-body">3 years with every gap</p>
              </div>

          <table class="govuk-table govuk-table--small-text-until-tablet">
            <caption class="govuk-table__caption govuk-table__caption--s govuk-!-margin-bottom-2">National insurance record gaps and available voluntary contribution costs</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Tax year</th>
                <th scope="col" class="govuk-table__header">Contribution type</th>
                <th scope="col" class="govuk-table__header">Amount</th>
                <th scope="col" class="govuk-table__header">Payable until</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">2025 to 2026</th>
                <td class="govuk-table__cell" colspan="3">Your record for this year is not available yet</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">2024 to 2025</th>
                <td class="govuk-table__cell">Class 3</td>
                <td class="govuk-table__cell">£907.40</td>
                <td class="govuk-table__cell">5 April 2030</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">2023 to 2024</th>
                <td class="govuk-table__cell">Class 3</td>
                <td class="govuk-table__cell">£907.40</td>
                <td class="govuk-table__cell">5 April 2029</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">2022 to 2023</th>
                <td class="govuk-table__cell">Class 3</td>
                <td class="govuk-table__cell">£907.40</td>
                <td class="govuk-table__cell">5 April 2028</td>
              </tr>
            </tbody>
          </table>

            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                <button type="button" id="accordion-default-heading-3" aria-controls="accordion-default-content-4" class="govuk-accordion__section-button" aria-expanded="false">
                    Starting amounts
                  <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-margin-bottom-6">
                Starting amount at April 2016 is £148.51 every week
            </div>
            <div class="govuk-!-margin-bottom-8">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Old rules</h3>
              <ul class="govuk-list govuk-!-margin-bottom-0">
                <li class="tr-li">
                  <span>Basic</span>
                  <span class="govuk-!-text-align-right"><strong class="tag tag--grey">£119.30 every week</strong></span>
                </li>
                <li class="tr-li"><span>Additional Pension and Grad</span>
                <span class="govuk-!-text-align-right"><strong class="tag tag--grey">£29.21 every week</strong></span>
                </li>
                <li class="tr-li border-bottom">
                  <span>Total</span>
                  <span class="govuk-!-text-align-right"><strong class="tag">£148.51 every week</strong></span>
                </li>
              </ul>
  </div>
              <div class="govuk-!-margin-bottom-8">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">New rules</h3>

                <ul class="govuk-list govuk-!-margin-bottom-0">
                  <li class="tr-li">
                    <span>New State Pension</span>
                    <span class="govuk-!-text-align-right"><strong class="tag tag--grey">£137.86 every week</strong></span>
                  </li>
                  <li class="tr-li">
                    <span>Rebate Derived Amount (RDA)</span>
                    <span class="govuk-!-text-align-right"><strong class="tag tag--grey">£2.55 every week</strong></span>
                  </li>
                  <li class="tr-li border-bottom">
                    <span>Total</span>
                    <span class="govuk-!-text-align-right"><strong class="tag">£135.31 every week</strong></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
            
          <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  
                <button type="button" id="accordion-default-heading-3" aria-controls="accordion-default-content-4" class="govuk-accordion__section-button" aria-expanded="false">
                    Gaps since 2006
                  <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <p class="govuk-body">Use this section to respond to customers who completed the request every call back form.</p>
                <strong class="tag tag--grey govuk-!-margin-bottom-4">7 years can be filled</strong>                
                <table class="govuk-table govuk-!-margin-bottom-6">
                  <caption class="govuk-table__caption govuk-visually-hidden">Pre Deadline Gaps Table</caption>
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Years</th>
                      <th scope="col" class="govuk-table__header">Gaps in record</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">2024-2025</td>
                      <td class="govuk-table__cell">Full gap year</td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">2023-2024</td>
                      <td class="govuk-table__cell">Full gap year</td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">2022-2023</td>
                      <td class="govuk-table__cell">Full gap year</td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">2021-2022</td>
                      <td class="govuk-table__cell">Full gap year</td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">2021-2022</td>
                      <td class="govuk-table__cell">Full gap year</td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">2020-2021</td>
                      <td class="govuk-table__cell">Full gap year</td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">2015-2016</td>
                      <td class="govuk-table__cell">Full gap year</td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                  </tbody>
                </table>

<form method="post" action="/vnics/pre-deadline-gaps/still-contributing" autocomplete="off" novalidate="">
    

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Enter the Total Earnings Factor from NIRs</h2>

          <div class="govuk-!-margin-bottom-6">
            <label class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">2024 to 2025 tax year<div class="govuk-form-group">

  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="earnings_id_2024-2025" name="earnings" type="text">
  </div>
</div>

            </label>
          </div>

          <div class="govuk-!-margin-bottom-6">
            <label class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">2023 to 2024 tax year<div class="govuk-form-group">
  
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="earnings_id_2023-2024" name="earnings" type="text">
  </div>
</div>

            </label>
          </div>

          <div class="govuk-!-margin-bottom-6">
            <label class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">2022 to 2023 tax year<div class="govuk-form-group">
  
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="earnings_id_2022-2023" name="earnings" type="text">
  </div>
</div>

            </label>
          </div>

          <div class="govuk-!-margin-bottom-6">
            <label class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">2021 to 2022 tax year<div class="govuk-form-group">
  
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="earnings_id_2021-2022" name="earnings" type="text">
  </div>
</div>

            </label>
          </div>

          <div class="govuk-!-margin-bottom-6">
            <label class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">2021 to 2022 tax year<div class="govuk-form-group">
  
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="earnings_id_2021-2022" name="earnings" type="text">
  </div>
</div>

            </label>
          </div>

          <div class="govuk-!-margin-bottom-6">
            <label class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">2020 to 2021 tax year<div class="govuk-form-group">
  
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="earnings_id_2020-2021" name="earnings" type="text">
  </div>
</div>

            </label>
          </div>

          <div class="govuk-!-margin-bottom-6">
            <label class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">2015 to 2016 tax year<div class="govuk-form-group">
  
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="earnings_id_2015-2016" name="earnings" type="text">
  </div>
</div>

            </label>
          </div>





    <button type="submit" class="govuk-button" data-module="govuk-button" id="calculate" data-govuk-button-init="">
  Calculate
</button>
</form>
              </div>

            </div>


              </div>

            </div>
          </div>

          <form class="form"  action="/vnics/route" method="post">
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Back to start</button>
          </form>

</div>
</div>

{% endblock %}
