{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/as-is/nino" method="post">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="nino">
              Enter a National Insurance number
            </label>
          </h1>
          <input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing" id="event-name" name="nino" type="text" style="text-transform:uppercase">
        </div>

        {{ govukButton({
          text: "Search"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
