<nav class="moj-sub-navigation" aria-label="Sub navigation">
  <ul class="moj-sub-navigation__list">

    <li class="moj-sub-navigation__item">
      <a
        class="moj-sub-navigation__link"
        {% if currentPage == "overview" %}aria-current="page"{% endif %}
        href="overview">
        OverviewentPage == "national-insurance" %}aria-current="page"{% endif %}
        href="national-insurance">
        National insurance summary
      </a>
    </li>

    <li class="ge"{% endif %}
        href="starting-amounts">
        Starting amounts
      </a>
    </li>

  </ul>
</nav>