{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/vnics/choose-option" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">NI number: {{data['nino']}}</span>
              <h1 class="govuk-fieldset__heading">How can I help you today?</h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="howCanIHelp" name="howCanIHelp" type="radio" value="forecast">
                <label class="govuk-label govuk-radios__label" for="howCanIHelp">
                  State Pension forecast
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="howCanIHelp-2" name="howCanIHelp" type="radio" value="enquiry">
                <label class="govuk-label govuk-radios__label" for="howCanIHelp-2">
                  Forecast enquiry
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
