{% extends "layouts/main.html" %}

{% block pageTitle %}
  SFCYSP Forecast enquiry – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/index" class="dwp-header__link">{{serviceName}}</a>
</div>
          {% include '../includes/_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

       <h1 class="govuk-heading-l">Forecast information for {{ data.person.personalDetails.NINO }} </h1> 

    {% set currentPage = "starting-amounts" %}
    {% include "../includes/_sub-nav.html" %}
    
</div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m govuk-!-margin-bottom-6">Starting amounts</h2>
      
        <div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h3 class="govuk-summary-card__title">
      Old rules
    </h3>
  </div>

  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Basic
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data.person.startingAmounts.oldRulesBasic }} a week
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Additional and graduated retirement benefit (GRB)
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data.person.startingAmounts.oldRulesAdditional }} a week
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Total
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data.person.startingAmounts.oldRulesTotal }} a week
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h3 class="govuk-summary-card__title">
      New rules
    </h3>
  </div>

  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          New State Pension
        </dt>
        <dd class="govuk-summary-list__value">
          £{{ rateTable[data.person.personalDetails.qualifyingYears | int] }} a week
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Minus Rebate Derived Amount (RDA)
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data.person.personalDetails.COPE }} a week
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Total
        </dt>
        <dd class="govuk-summary-list__value">
          {% set estimateTo = data.person.personalDetails.estimateTo | replace('£', '') | float %}
          {% set newRulesRDA = data.person.personalDetails.COPE | replace('£', '') | float %}£{{(estimateTo - newRulesRDA).toFixed(2)}} a week
        </dd>
      </div>
    </dl>
  </div>
</div>

    </div>
</div>


{% endblock %}