{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body-l govuk-!-margin-bottom-9"><a href="as-is/nino" class="govuk-link">Current Journey (November 2022)</a></p>
    <p class="govuk-body-l govuk-!-margin-bottom-9"><a href="vnics/nino" class="govuk-link">VNICS class 2 and class 3</a></p>

<!--
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Letters
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="letters/VNICS/menu">VNICS</a>
      </li>
      <li>
        <a class="govuk-link" href="letters/index2">Notify</a>
      </li>
    </ul>
  </div>
</details>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Something's gone wrong journeys
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="Modelling_errors_testing/NINOstart.html">Modelling error messages testing</a>
      </li>
      <li>
        <a class="govuk-link" href="Modelling_errors/index2">Modelling error messages</a>
      </li>
      <li>
        <a class="govuk-link" href="somethings_gone_wrong/NINOstart_sgw1">Current amount is greater than the forecast amount</a>
      </li>
      <li>
        <a class="govuk-link" href="somethings_gone_wrong/NINOstart_sgw2">Customer has 10 or more qualifying years and current amount is 0</a>
      </li>
      <li>
        <a class="govuk-link" href="somethings_gone_wrong/NINOstart_sgw3">Current amount is greater than the maximum amount</a>
      </li>
      <li>
        <a class="govuk-link" href="somethings_gone_wrong/NINOstart_sgw4">Customer has less than 0 qualifying years</a>
      </li>
      <li>
        <a class="govuk-link" href="somethings_gone_wrong/NINOstart_sgw5">Forecast amount is greater than the maximum amount</a>
      </li>
        <li>
        <a class="govuk-link" href="somethings_gone_wrong/NINOstart_sgw6">Year not showing as payable or as qualifying within period</a>
      </li>
      <li>
        <a class="govuk-link" href="somethings_gone_wrong/NINOstart_sgw7.html">Pre 2006 years in record</a>
      </li>
        <li>
        <a class="govuk-link" href="Modelling_errors/improve.html">Starting amounts errors</a>
      </li>
    </ul>
  </div>
</details>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      VNICS post 2025
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="Pre25/enquiry.html">Stage 1</a>
      </li>
      <li>
        <a class="govuk-link" href="Pre25/enquiry2">Stage 2</a>
      </li>
      <li>
        <a class="govuk-link" href="Pre25/enquiry3">Stage 3</a>
      </li>
      <li>
        <a class="govuk-link" href="Pre25/enquiry4">Stage 3 undecided years</a>
      </li>
    </ul>
  </div>
</details>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Previous versions
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="Altformats_current/nino_altformat">Altformats_current/nino_altformat</a>
      </li>
      <li>
        <a class="govuk-link" href="Missing_COPE/ninoCOPE">Missing COPE take customer details</a>
      </li>
      <li>
        <a class="govuk-link" href="Missing_COPE2/ninoCOPE2">Record needs a manual COPE calculation</a>
      </li>
      <li>
        <a class="govuk-link" href="IoM/nino">Isle of Man exclusion</a>
      </li>
      <li>
        <a class="govuk-link" href="/CIS_versioning">CIS Journeys</a>
      </li>
        <li>
        <a class="govuk-link" href="CIS_journey/NINOstart">CIS journey - Name and DOB</a>
      </li>
        <li>
        <a class="govuk-link" href="Alternative-formats/NINOstartAF">CIS Journey - Address and alternative formats</a>
      </li>
      <li>
        <a class="govuk-link" href="/Exceptions_versioning">Variable user journeys</a>
      </li>
      <li>
        <a class="govuk-link" href="/somethings_gone_wrong/enquiry">Starting amount mismatch</a>
      </li>
    </ul>
  </div>
</details>

-->    


  </div>
</div>

{% endblock %}
