{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

<div class="govuk-service-navigation" data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden aria-hidden="true">
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item ">
            <a class="govuk-service-navigation__link" aria-current="true" href="index.html">
              Home
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="iterations" >
              <strong class="govuk-service-navigation__active-fallback">Iterations</strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/journey-data">
              Journey data
            </a>
          </li>
          <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="/index-state-pension-forecast">
              State pension forecast
            </a>
          </li>
          <li class="govuk-service-navigation__item ">
            <a class="govuk-service-navigation__link" href="/index-forecast-enquiry">
              Forecast enquiry
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/index-other">
              Others
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-9">
  <div class="govuk-grid-column-full">

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">State pension forecast</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header  govuk-!-width-one-third">Page</th>
            <th scope="col" class="govuk-table__header  govuk-!-width-one-quarter">Date created</th>
            <th scope="col" class="govuk-table__header">Details</th>
          </tr>
        </thead>

        <tbody>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a class="govuk-link" href="/vnics/alternative-format" target="_blank">Alternative format</a><br><p>(opens in a new tab)</p>
            </td>
            <td class="govuk-table__cell">July 2026</td>
            <td class="govuk-table__cell">
              Baseline with test
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a class="govuk-link" href="/vnics/alternative-format/audio-format" target="_blank">Alternative format - audio</a><br><p>(opens in a new tab)</p>
            </td>
            <td class="govuk-table__cell">June 2026</td>
            <td class="govuk-table__cell">
              Baseline with test              
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a class="govuk-link" href="/vnics/alternative-format/braille" target="_blank">Alternative format - braille</a><br><p>(opens in a new tab)</p>
            </td>
            <td class="govuk-table__cell">June 2026</td>
            <td class="govuk-table__cell">
              Baseline with test
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a class="govuk-link" href="/vnics/alternative-format/large-format" target="_blank">Alternative format - large format</a><br><p>(opens in a new tab)</p>
            </td>
            <td class="govuk-table__cell">June 2026</td>
            <td class="govuk-table__cell">
              Baseline with test
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a class="govuk-link" href="/vnics/alternative-format/other-adjustment-requested" target="_blank">Alternative format - other adjustment requested</a><br><p>(opens in a new tab)</p>
            </td>
            <td class="govuk-table__cell">June 2026</td>
            <td class="govuk-table__cell">
              Baseline with test
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a class="govuk-link" href="/vnics/forecast-request" target="_blank">Are you requested your own forecase?</a><br><p>(opens in a new tab)</p>
            </td>
            <td class="govuk-table__cell">June 2026</td>
            <td class="govuk-table__cell">
              Baseline with test
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a class="govuk-link" href="/vnics/forecast-request/customer" target="_blank">Full name</a><br><p>(opens in a new tab)</p>
            </td>
            <td class="govuk-table__cell">June 2026</td>
            <td class="govuk-table__cell">
              Baseline with test
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a class="govuk-link" href="/vnics/forecast-request/postcode" target="_blank">Post code</a><br><p>(opens in a new tab)</p>
            </td>
            <td class="govuk-table__cell">June 2026</td>
            <td class="govuk-table__cell">
              Baseline with test
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a class="govuk-link" href="/vnics/forecast-request/overseas-address" target="_blank">Overseas address</a><br><p>(opens in a new tab)</p>
            </td>
            <td class="govuk-table__cell">June 2026</td>
            <td class="govuk-table__cell">
              Baseline with test
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a class="govuk-link" href="/vnics/forecast-request/postcode-results" target="_blank">Postcode results</a><br><p>(opens in a new tab)</p>
            </td>
            <td class="govuk-table__cell">June 2026</td>
            <td class="govuk-table__cell">
              Baseline with test
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a class="govuk-link" href="/vnics/forecast-request/confirm-details" target="_blank">Confirm details</a><br><p>(opens in a new tab)</p>
            </td>
            <td class="govuk-table__cell">June 2026</td>
            <td class="govuk-table__cell">
              Baseline with test
            </td>
          </tr>
      </tbody>
    </table>

  </div>
</div>

</div>
</div>

{% endblock %}
