{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <div class="govuk-service-navigation"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden aria-hidden="true">
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item ">
            <a class="govuk-service-navigation__link" aria-current="true" href="index.html">
              Home
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="iterations" >
              <strong class="govuk-service-navigation__active-fallback">Iterations</strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
            <strong class="govuk-service-navigation__link">
              Journey data
            </strong>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/index-state-pension-forecast">
              State pension forecast
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/index-forecast-enquiry">
              Forecast enquiry
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/index-other">
              Others
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-9">
  <div class="govuk-grid-column-full">

    <p class="govuk-body">The following scenarios can be ran within the prototype</p>


    <p class="govuk-body"><strong>RN000002A</strong></p>
    <ul class="govuk-list govuk-list--bullet">
      <li>27 qualifying years</li>
      <li>3 years can be filled</li>
      <li>Past and future years available</li>
      <li>Gaps since 2006 - 3 years can be filled</li>
      <li>Mix of class 2 and 3</li>
    </ul>
  
    <p class="govuk-body"><strong>RN000002A</strong></p>
    <ul class="govuk-list govuk-list--bullet">
      <li>27 qualifying years</li>
      <li>2 years can be filled</li>
      <li>Past and future years available</li>
      <li>Gaps since 2006 - 4 years can be filled</li>
      <li>Class 3 only</li>
    </ul>
  
    <p class="govuk-body"><strong>RN000003A</strong></p>
    <ul class="govuk-list govuk-list--bullet">
      <li>35 qualifying years</li>
      <li>Max state pension</li>
      <li>3 years can be filled</li>
      <li>Gaps since 2006 - 7 years can be filled</li>
    </ul>

  <p class="govuk-body"><strong>RN000004A</strong></p>
    <ul class="govuk-list govuk-list--bullet">
      <li>17 qualifying years</li>
      <li>Reduced rate election estimates split depending on martial status</li>
    </ul>  

  <p class="govuk-body"><strong>RN000005A</strong></p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Missing cope</li>
    </ul> 
    
  <p class="govuk-body"><strong>RN000006A</strong></p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Isle of man request</li>
    </ul>

  <p class="govuk-body"><strong>RN000007A</strong></p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Record not available</li>
    </ul>

  </div>
</div>



  </div>
</div>

{% endblock %}
