{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

          <table class="govuk-table govuk-table--small-text-until-tablet">
            <caption class="govuk-table__caption govuk-table__caption--s govuk-!-margin-bottom-2">National insurance record gaps and available voluntary contribution costs</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Tax year</th>
                <th scope="col" class="govuk-table__header">Contribution type</th>
                <th scope="col" class="govuk-table__header">Amount</th>
                <th scope="col" class="govuk-table__header">Deadline</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">2021 to 2022</th>
                <td class="govuk-table__cell" colspan="3">Your record for this year is not available yet</td>

              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">2010 to 2011</th>
                <td class="govuk-table__cell">Class 3 </td>
                <td class="govuk-table__cell">£354.20</td>
                <td class="govuk-table__cell">5 April 2028</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">2009 to 2010</th>
                <td class="govuk-table__cell">Class 2 </td>
                <td class="govuk-table__cell">£35</td>
                <td class="govuk-table__cell">5 April 2028</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">2008 to 2009</th>
                <td class="govuk-table__cell">Class 2 and 3 </td>
                <td class="govuk-table__cell">£486.72</td>
                <td class="govuk-table__cell">5 April 2028</td>
              </tr>
            </tbody>
          </table>




          <table class="govuk-table govuk-table--small-text-until-tablet">
            <caption class="govuk-table__caption govuk-table__caption--s govuk-!-margin-bottom-2">National insurance record gaps and available voluntary contribution costs</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Improve to</th>
                <th scope="col" class="govuk-table__header">Gaps</th>
                <th scope="col" class="govuk-table__header">Total cost</th>
                <th scope="col" class="govuk-table__header">Deadline</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">2021 to 2022</th>
                <td class="govuk-table__cell" colspan="3">Your record for this year is not available yet</td>

              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">2010 to 2011</th>
                <td class="govuk-table__cell">Class 3 </td>
                <td class="govuk-table__cell">£354.20</td>
                <td class="govuk-table__cell">5 April 2028</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">2009 to 2010</th>
                <td class="govuk-table__cell">Class 2 </td>
                <td class="govuk-table__cell">£35</td>
                <td class="govuk-table__cell">5 April 2028</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">2008 to 2009</th>
                <td class="govuk-table__cell">Class 2 and 3 </td>
                <td class="govuk-table__cell">£486.72</td>
                <td class="govuk-table__cell">5 April 2028</td>
              </tr>
            </tbody>
          </table>


{% endblock %}