{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

          <table class="govuk-table govuk-table--small-text-until-tablet">
            <caption class="govuk-table__caption govuk-table__caption--s govuk-!-margin-bottom-2">National insurance record gaps and available voluntary contribution costs</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Tax year</th>
                <th scope="col" class="govuk-table__header">Contribution type</th>
                <th scope="col" class="govuk-table__header">Amount</th>
                <th scope="col" class="govuk-table__header">Deadline</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">2021 to 2022</th>
                <td class="govuk-table__cell" colspan="3">Your record for this year is not available yet</td>

              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">2010 to 2011</th>
                <td class="govuk-table__cell">Class 3 </td>
                <td class="govuk-table__cell">£354.20</td>
                <td class="govuk-table__cell">5 April 2028</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">2009 to 2010</th>
                <td class="govuk-table__cell">Class 2 </td>
                <td class="govuk-table__cell">£35</td>
                <td class="govuk-table__cell">5 April 2028</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">2008 to 2009</th>
                <td class="govuk-table__cell">Class 2 and 3 </td>
                <td class="govuk-table__cell">£486.72</td>
                <td class="govuk-table__cell">5 April 2028</td>
              </tr>
            </tbody>
          </table>


<table class="govuk-table" data-module="moj-sortable-table">
  <caption class="govuk-table__caption">Improve state pension</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" aria-sort="ascending">Improve to</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Gaps</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Total cost</th>
      <th scope="col" class="govuk-table__header">Details</th>

    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" data-sort-value="193.04">£193.04 every week</td>
      <td class="govuk-table__cell">1</td>
      <td class="govuk-table__cell">£780</td>
      <td class="govuk-table__cell"><a href="">View details</a></td>

    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" data-sort-value="199.94">£199.94 every week</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">£1,575.60</td>
      <td class="govuk-table__cell"><a href="">View details</a></td>

    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <caption class="govuk-table__caption">Improve state pension</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" aria-sort="ascending">Improve to</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Gaps</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Total cost</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Details</th>

    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" data-sort-value="193.04">£193.04 every week</td>
      <td class="govuk-table__cell">1</td>
      <td class="govuk-table__cell">£780</td>
      <td class="govuk-table__cell"><a href="">View details</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" data-sort-value="199.94">£199.94 every week</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">£1,575.60</td>
      <td class="govuk-table__cell"><a href="">View details</a></td>
    </tr>
  </tbody>
</table>

<div style=" border: 1px solid #b1b4b6; padding: 1.5em 1em 0; margin-bottom: 2em; ">
            <table class="govuk-table govuk-!-margin-bottom-4 govuk-!-width-two-thirds">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-0">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
                  <span class="govuk-!-margin-right-1">Option 1</span>
                  <span class="govuk-!-font-weight-regular">
                    of &nbsp;5</span>
                </h3>
              </caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">Tax year gap</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">
                    Cost
                  </th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                
                  <tr class="govuk-table__row" style="margin: 2em">
                    <th scope="row" class="govuk-table__header">2025 to 2026</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-body">
                      £35.00
                    </td>
                  </tr>
                
              </tbody>
              <tfoot class="govuk-table__head">
                <tr class="govuk-table__row" style="margin: 2em">
                  <th scope="row" class="govuk-table__header">Total cost</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body govuk-!-font-weight-bold">
                    £35.00
                  </td>
                </tr>
              </tfoot>
            </table>
            <p>
              Option 1 increases your State Pension to
              <span class="govuk-body govuk-!-font-weight-bold">£215.27 per week.</span>
            </p>
            <p>This means your State Pension estimate will increase by
              <span class="govuk-body">£50.95 per week.</span>
            </p>

            <!-- ============ -->

            <div>
              
                <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-3" style="max-width: 100% !important;">
                  This option is available until 5 April 2031
                </strong>
              
            </div> 

            <!-- ============ -->

            <p class="govuk-!-margin-bottom-6">
              <a class="govuk-link govuk-link--no-visited-state" href="your-selected-gaps?cysp-selected-bundle=1">
                Select option 1
              </a>
            </p>
          </div>



<script>
document.addEventListener('DOMContentLoaded', function () {

  const table = document.querySelector(
    '[data-module="moj-sortable-table"]'
  );

  if (table) {
    new MOJFrontend.SortableTable({
      table: table
    });
  }

});
</script>


{% endblock %}